.home{
  background-color:  rgba(255, 255, 255, 0.817);
}

.navs{
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 2;
    background-color: #030637;
}

.a1{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 400px;
}

.art{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 0px;

}

.search-containerz {
  margin-top: 21px;
  position: absolute;
  top: 0px;
  right: 265px;
  display: inline-block;
  
    
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #000000;
  }
  
  .search-input {
  
    padding: 8px 12px;
    padding-left: 32px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    width: 350px;
  }
  
  .search-input::placeholder {
    color: #000000;
    font-size: 14px;
  }
  
  .search-input:focus {
    background-color: #e0e0e0;
  }
  
  /* .dropdown {
    position: absolute;
    top: 50px;
    right: 150px;
    border-radius: 10px;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 14px;
    height: 40px;
    width: 255px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-btn:hover,
  .dropdown-btn:focus {
    background-color: #d7d7d7;
  }
  
  .dropdown-content {
    cursor: pointer;
    height: 300px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 340px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    display: block;
  } */
  

  .dropicon{
    margin-left: 110px;
  }

  .Searchbuttz {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 178px;
    height: 40px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.817);
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: #030637; /* Set text color to white by default */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background-color and text color */
    
  }
  
  .Searchbuttz:hover {
    background-color: #030637; /* Change background color to white on hover */
    color: rgba(255, 255, 255, 0.817); /* Change text color to black on hover */
    border-color: rgba(255, 255, 255, 0.817);
  }
  


  .chart2{
    padding-top: 350px;
    position: absolute;
    right: 40px;
    
  }

  .chart{
    position: absolute;
    left: 25%;
    top: 450px
  }

  .Stats {
    position: absolute;
 
    left: 73px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    top: 140px;
  
    z-index: 1; /* Ensure the Stats section is above other elements */
  }

  span{
    text-decoration: underline;
  }

  .firsttime{
    display: none;
    text-align: start;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #5E4DCD;
  }

  .labelf{
    color:#FFD2DD;
    font-size: 24px;
    padding-left: 20px;
  }


  .a5{
    padding-left: 40px;
    font-size: 42px;
    font-weight: 800;
    z-index: 2000;
    color: white;
  }

  /* .forms{
    padding-left: 40px;
    z-index: 2000;
    max-height: 700px;
    overflow-y: hidden;
    column-width: 600px;
    column-gap: 1px;
  }
  
  .subpref {
    margin-top: 30px;
    cursor: pointer;
    right: 60px;
    height: 40px;
    width: 120px;
    font-size: 26px;
    background-color: #FFD2DD;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s;
  }

  .subpref:hover {
    background-color: #FFB6C1;
  }

  .forms input[type="checkbox"],
  .forms label.labelf {
  cursor: pointer; 
  }

  .forms input[type="checkbox"]:hover,
  .forms label.labelf:hover {
  
 
  color: #FFB6C1; 
  } */

  

  .graphs{
    display: none;
  }

  .hch{
    margin-top: 35px;
  }

  .hotcategory{
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: #FFD2DD;
    top: 50%;
    left: 20px;
    border-radius: 0px;
    transform: translate(0%, -42%);
    text-align: start;
    padding: 30px;
    overflow-y: auto;
  }

  .hotproduct{
    cursor: pointer;
    height: 20px;
    /* border: solid 2px;
    border-color: #5E4DCD; */
    border-bottom: 10px solid #030637;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #000000;
    width: 90%;
    background-color: white;

  }
.hotproduct:hover{
  border-top: 10px solid white;
  border-bottom: 0px solid #030637;
  color: white;
  background-color: #030637;
}

.hhp{
  margin-top: -20px;
  
}

.levelff{
  position: absolute;
  right: 40px;
  top: 57%;
  transform: translateY(-50%);
}

.IDU{
  position: absolute;
  z-index: 20;
}


.heatmap {
  position: absolute;
  top: 125%;
  height: 60px; /* Adjust height as needed */
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: linear-gradient(to right, red, yellow, rgb(4, 247, 4));
 
}


.snb{
  margin-bottom: 20px;
  position: absolute;
  bottom: 45px;
  font-size: 20px;
  font-weight: 700;
}

.sb{
  right: 0px;
  position: absolute;
  bottom: 45px;
  font-size: 20px;
  font-weight: 700;
}

.line {
  cursor: pointer;
  position: absolute;
  width: 1px;
  background-color: #000000;
  border: 1px solid black;
  height: 100%;
  font-size: 2px;
  top: -2px;
}

.line:hover {
  transform: scale(1.2);
}

.rotateic{

  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
 
}

.hoveric {
  margin-left: 10px;
  top: 10px;
  display: none;
  margin-bottom: 160px;
  width: 300px;
  background-color: #ffd2ddf4;
  bottom: 40px;
  left: calc(100% - 310px); /* Adjust left positioning */
  z-index: 100;
  border-radius: 30px;
  font-size: 14px;
  text-align: start;
  padding: 20px;
}

.hmdes {
  margin-top: 80px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
  color: #030637; /* Adjust the color as needed */
  /* Add any additional styling to make it more visually appealing */
}




.calcz{
  
  margin-top: 18px;
  text-decoration: underline;
  font-weight: bold;
   background:none;
   border:none;
   padding:0;
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   right: 700px;

   height: 50px;
   width: 180px;
   /* Set default font weight to normal */
   color: rgba(255, 255, 255, 0.817); /* Set text color to black by default */
   transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
  
}

.calcz:hover {
  transform: scale(1.1); /* Zoom effect on hover */
  font-weight: bold; /* Make text bold on hover */
}



.catz{
  
  margin-top: 18px;
  text-decoration: underline;
  font-weight: bold;
   background:none;
   border:none;
   padding:0;
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   right: 935px;

   height: 50px;
   width: 180px;
   /* Set default font weight to normal */
   color: rgba(255, 255, 255, 0.817); /* Set text color to black by default */
   transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */

}

.catz:hover {
  transform: scale(1.1); /* Zoom effect on hover */
    font-weight: bold; /* Make text bold on hover */
}


.logoutz{
  
  margin-top: 18px;
  text-decoration: underline;
  font-weight: bold;
   background:none;
   border:none;
   padding:0;
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   right: 15px;
   height: 50px;
   width: 180px;
   /* Set default font weight to normal */
   color: rgba(255, 255, 255, 0.817); /* Set text color to black by default */
   transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */



}

.logoutz:hover {
  transform: scale(1.1); /* Zoom effect on hover */
    font-weight: bold; /* Make text bold on hover */
}





.trendz{
  margin-top: 18px;
  text-decoration: underline;
  font-weight: bold;
   background:none;
   border:none;
   padding:0;
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   right: 835px;

   height: 50px;
   width: 180px;
   /* Set default font weight to normal */
   color: rgba(255, 255, 255, 0.817); /* Set text color to black by default */
   transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
}

.trendz:hover {
  transform: scale(1.1); /* Zoom effect on hover */
    font-weight: bold; /* Make text bold on hover */

}


.labelc{
  left: 4%;
  color: rgba(255, 255, 255, 0.817);
  font-size: 43px;
  position: fixed;
  top:0px; 
  font-weight: 800;
}


@media only screen and (max-width: 700px) {

  
  .labelc{
    left: 4%;
    color: rgba(255, 255, 255, 0.817);
    
    font-size: 33px;
    position: fixed;
    top:-25px; 
    font-weight: 800;
  
  }

  .search-containerz {
    margin-top: 21px;
    position: absolute;
    top: 35px;
    right: 110px;
    display: inline-block;
    
  }

  .search-input {
  
    padding: 8px 12px;
    padding-left: 32px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 20px;
    width: 220px;
  }
  
  .search-input::placeholder {
    color: #000000;
    font-size: 14px;
  }
  
  .search-input:focus {
    background-color: #e0e0e0;
  }
  
  .Searchbuttz {
    cursor: pointer;
    position: absolute;
    top: 57px;
    right: 18px;
    height: 35px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.817);
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: #030637; /* Set text color to white by default */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background-color and text color */
    
  }

  .logoutz{
    margin-top: -30px;
    text-decoration: underline;
    font-weight: bold;
     background:none;
     border:none;
     padding:0;
     cursor: pointer;
     font-size: 15px;
  
     position: absolute;
     left: 225px;
     height: 50px;
     width: 180px;
     /* Set default font weight to normal */
    color: rgba(255, 255, 255, 0.817);
    /* Set text color to black by default */
     transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
  
  
  
  
  }


  .catz{
    margin-top: 6px;
    text-decoration: underline;
    font-weight: bold;
     background:none;
     border:none;
     padding:0;
     cursor: pointer;
     font-size: 15px;
     
     position: absolute;
     right: 255px;
     height: 50px;
     width: 180px;
     /* Set default font weight to normal */
     color: rgba(255, 255, 255, 0.817);
     /* Set text color to black by default */
     transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
  
  }

  .trendz{
    margin-top: 6px;
    text-decoration: underline;
    font-weight: bold;
     background:none;
     border:none;
     padding:0;
     cursor: pointer;
     font-size: 15px;
  
     position: absolute;
     right: 175px;
     height: 50px;
     width: 180px;
     /* Set default font weight to normal */
     color: rgba(255, 255, 255, 0.817);/* Set text color to black by default */
     transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
  
  
  }

  .calcz {
    margin-top: 6px;
     text-decoration: underline;
     font-weight: bold;
      background:none;
      border:none;
      padding:0;
      cursor: pointer;
      font-size: 15px;
      position: absolute;
      left: 140px;
      height: 50px;
      width: 180px;
      /* Set default font weight to normal */
      color:rgba(255, 255, 255, 0.817);/* Set text color to black by default */
      transition: transform 0.3s, font-weight 0.3s; /* Smooth transition for transform and font-weight */
      
    }
    .home{
      background-color:  rgba(255, 255, 255, 0.817);
      height: 200%;
    }


    .hotcategory{
      position: absolute;
      width: 74%;
      height: 80%;
      background-color: #FFD2DD;
      top: 50%;
      left: 20px;
      border-radius: 0px;
      transform: translate(0%, -42%);
      text-align: start;
      padding: 30px;
      overflow-y: auto;
    }
  
    .hotproduct{
      cursor: pointer;
      height: 40px;
      /* border: solid 2px;
      border-color: #5E4DCD; */
      border-bottom: 10px solid #030637;
      padding: 20px;
      border-radius: 20px;
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 900;
      color: #000000;
      width: 80%;
      background-color: white;
  
    }


    .levelff{
      position: absolute;
      right: 115px;
      top: 137%;
    }
   
    .chart2 {
      padding-top: 50px;
      position: absolute;
      right: 40px;
  
    }
}
